<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>5852840000</key>
	<dict>
		<key>username</key>
		<string>5852840000</string>
		<key>password</key>
		<string>123456</string>
		<key>screenName</key>
		<string>Jing</string>
		<key>imageUrl</key>
		<string>https://images.unsplash.com/photo-1480997173806-f69bb3b35b84?ixlib=rb-0.3.5&amp;q=85&amp;fm=jpg&amp;crop=entropy&amp;cs=srgb&amp;dl=brooke-cagle-171800.jpg&amp;s=55d21c4289d8f718eee997c4e54f1f96</string>
		<key>id</key>
		<string>0</string>
	</dict>
	<key>jing@gmail.com</key>
	<dict>
		<key>username</key>
		<string>jing@gmail.com</string>
		<key>password</key>
		<string>234567</string>
		<key>screenName</key>
		<string>Jane</string>
		<key>imageUrl</key>
		<string>https://images.unsplash.com/photo-1496360711189-5edeb09fe715?ixlib=rb-0.3.5&amp;q=85&amp;fm=jpg&amp;crop=entropy&amp;cs=srgb&amp;dl=brooke-cagle-274625.jpg&amp;s=7c330dea5b3ab03a5ba288eb0f84022e</string>
		<key>id</key>
		<string>1</string>
	</dict>
	<key>micheal@gmail.com</key>
	<dict>
		<key>username</key>
		<string>micheal@gmail.com</string>
		<key>password</key>
		<string>345678</string>
		<key>screenName</key>
		<string>Micheal</string>
		<key>imageUrl</key>
		<string>https://images.unsplash.com/photo-1449614115178-cb924f730780?ixlib=rb-0.3.5&amp;q=85&amp;fm=jpg&amp;crop=entropy&amp;cs=srgb&amp;dl=greg-raines-50802.jpg&amp;s=b2d954f3c54b81d8a32dc815af78a0de</string>
		<key>id</key>
		<string>2</string>
	</dict>
	<key>6502320000</key>
	<dict>
		<key>username</key>
		<string>6502320000</string>
		<key>password</key>
		<string>456789</string>
		<key>screenName</key>
		<string>Anne</string>
		<key>imageUrl</key>
		<string>https://images.unsplash.com/photo-1477276266798-898214c677da?ixlib=rb-0.3.5&amp;q=85&amp;fm=jpg&amp;crop=entropy&amp;cs=srgb&amp;dl=cristian-newman-153712.jpg&amp;s=3f59c16cde17f17e3b65cecf02fd4d4a</string>
		<key>id</key>
		<string>3</string>
	</dict>
	<key>jodie@gmail.com</key>
	<dict>
		<key>username</key>
		<string>jodie@gmail.com</string>
		<key>password</key>
		<string>567890</string>
		<key>screenName</key>
		<string>Jodie</string>
		<key>imageUrl</key>
		<string>https://images.unsplash.com/photo-1450297350677-623de575f31c?ixlib=rb-0.3.5&amp;q=85&amp;fm=jpg&amp;crop=entropy&amp;cs=srgb&amp;dl=brooke-cagle-52215.jpg&amp;s=045d0123ef74f3eb3dc403242f2876e0</string>
		<key>id</key>
		<string>4</string>
	</dict>
</dict>
</plist>
